body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.column {
  margin: 0;
  background-color: white;
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  position: relative;
  max-width: 100%;
  max-height: 100%;
}

.column img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

.column a {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  text-align: center;
}

/*series*/
.series-details {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #ccc;
  background-color: #f9f9f9;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.series-details h1 {
  font-size: 32px;
  margin-bottom: 20px;
  color: #6685c2;
}

.series-details img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #ccc;
  margin-bottom: 20px;
}

.series-details section {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  margin-top: 20px;
}

.series-details h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.series-details p:first-child {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.series-details p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .series-details {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .series-details {
    grid-template-columns: repeat(3, 1fr);
  }
}

.series-details section div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 10px;
  box-shadow: 0px 2px 5px #ccc;
}

.series-details section div h2 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #6685c2;
}

.series-details section div p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333;
  text-align: center;
}